.root {
    -fx-background-color: rgba(0, 0, 0, 0.75);
    -fx-border-color: rgba(255, 255, 255, 0.15);
    font-family: Inconsolata, sans-serif;
    -fx-text-fill: rgba(250, 235, 235, 0.94);
}

.header {
    font-size: 35px;
    color: rgba(71, 175, 61, 0.65);
}